<footer class="py-4" style="background-color: #6a3a93; color: white;">
    <div class="container text-center">
      <p>&copy; 2024 Lemme. All Rights Reserved.</p>
      <p>Follow us on:</p>
      <a href="#" class="text-white me-4">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a href="#" class="text-white me-4">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="#" class="text-white me-4">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </footer>
  
