<section id="gallery" class="py-5" style="background-color: #f4e6fc;">
  <div class="container">
    <h2 class="text-center" style="color: #6a3a93;"></h2>
    <p class="text-center text-muted mb-5">Explore our collection!</p>
    <div class="row g-4">
      <!-- Image 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/f9/79/49/f97949e227559632c509a48cd27cfe79.jpg" class="card-img-top" alt="Gallery Image 1" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
      <!-- Image 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/d0/53/ac/d053ac9dc169fed255fd152e86015b7c.jpg" class="card-img-top" alt="Gallery Image 2" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
      <!-- Image 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/2b/68/ba/2b68baf37bb051ea86260c7b2d50e871.jpg" class="card-img-top" alt="Gallery Image 3" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
      <!-- Image 4 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/f9/ed/5d/f9ed5d7f58dec423c31e7ed3d9479983.jpg" class="card-img-top" alt="Gallery Image 4" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
      <!-- Image 5 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/fc/f6/34/fcf6340b27b23b9335bed85da2eef463.jpg" class="card-img-top" alt="Gallery Image 5" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
      <!-- Image 6 -->
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img src="https://i.pinimg.com/736x/48/e0/61/48e061816fc4f7fda19990cb0b098996.jpg" class="card-img-top" alt="Gallery Image 6" style="width: 100%; height: 220px; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</section>